language: java
jdk: oraclejdk8

install: true
script: mvn install

after_success:
- pwd
- mkdir $HOME/buildApk/
- ls -l
- cd $HOME/buildApk/
- pwd
- ls -l
- git config --global user.email "ashishg.garg@gmail.com"
- git config --global user.name "Ashish Garg"
- git clone --depth=50 --branch=master https://github.com/garashis/MyFirstSpringBoot.git
- cd MyFirstSpringBoot
- ls -l
- cp -r /home/travis/build/garashis/MyFirstSpringBoot/target/demo-0.0.1-SNAPSHOT.jar $HOME/buildApk/MyFirstSpringBoot/target
- ls -l
- git add -f .
- git remote rm origin
- git remote add origin https://garashis:$GITHUB_API_KEY@github.com/garashis/MyFirstSpringBoot.git
- git add -f .
- git commit -m "Travis build $TRAVIS_BUILD_NUMBER pushed [skip ci] "
- git push -fq origin master
- echo -e "Done with magic\n"